.SignupForm {
     background-image:  url(../../img/jeremy-bishop-iftBhUFfecE-unsplash.jpg);
     background-position: center;
     background-repeat: no-repeat;
     color: aliceblue;
}

img {
    background-image: cover;
}

.form-horizontal {
    font-size: medium;
}